@import 'variables';

.panel {
  background: $panel-bg;
  padding: 10px;
  padding-top: 20px;
  display: grid;
  align-content: start;
  white-space: nowrap;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.section-wrapper {
  display: grid; 
  align-content: start;
  padding-top: 20px;
  color: $text-light;
  font-size: 16px;
}