@import 'variables';

.panel {
  background: $panel-bg;
  padding: 10px;
  padding-top: 20px;
  display: grid;
  align-content: start;
  white-space: nowrap;
  border-radius: 0px 8px 8px 0px;
}
.section-wrapper {
  display: grid; 
  padding-top: 20px;
  color: $text-light;
  font-size: 16px;
}