.chart-legend {
	display: flex; 
	flex-wrap: wrap; 
	gap: 10px; 
	justify-content: space-between
}
.chart-legend-item {
	display: flex; 
	gap: 5px; 
	white-space: nowrap;
	font-size: 0.6em;
}
.chart-legend-icon {
	width: 10px; 
	height: 10px;
}