@import 'variables';

.chat-interface {
  width: 100%;
  margin: 20px auto;
  border: 1px solid $border-color;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  box-shadow: $box-shadow;
}
.chat-header {
  background-color: $primary;
  color: $text-light;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}
.chat-message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  max-width: 80%;
}
.mapboxgl-popup-content {
  padding: 0 !important;
  background: none !important;
  box-shadow: none !important;
}
.mapboxgl-popup-tip {
  display: none !important;
}