.map-marker {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.map-marker:hover {
  transform: scale(1.1);
}
.map-marker:active {
  transform: scale(1.1);
}