.agent-selector-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
}
.agent-character {
	height: 120px;
	border-radius: 5px;
	border: 2px solid rgba(22, 22, 22, 1);
	display: grid;
	justify-content: center;
	align-items: center;
}
.agent-character:hover {
	background-color: rgba(80, 80, 122, 1);
}