.agent-header-wrapper {
  display: grid;
  grid-template-columns: min-content min-content auto min-content;
  white-space: nowrap;
  grid-gap: 10px;
}
.agent-icon {
  width: 40px;
}
.header-buttons {
  display: flex; 
  gap: 10px;
}
.agent-details {
   display: grid; 
   overflow: hidden;
}
.agent-title {
  font-weight: 500;
}