.header {
	grid-area: hd;
}
.nav-wrapper {
	grid-area: nw
}
.viewer {
	grid-area: vw;
	position: relative;
}
.main-wrapper {
	display: grid; 
	grid-template-columns: min-content auto;
	grid-template-rows: min-content auto;
	grid-template-areas: 
		"hd vw"
		"nw vw"
}
@media screen and (max-width: 768px) {
	.main-wrapper {
		grid-template-columns: auto;
		grid-template-rows: min-content auto min-content;
		grid-template-areas: 
			"hd"
			"vw"
			"nw";
	}	
}