@import 'variables';

.header-selector {
  display: flex;
  gap: 5px;
  padding: 5px;
  background-color: $card-bg;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  width: min-content;
}
.boundary-selectors {
  display: flex;
  gap: 5px;
  border-right: 1px solid $border-color;
  padding-right: 10px;
}
.settings-icon {
  cursor: pointer; 
  border-radius: 3px;
  width: 30px;
  padding: 4px;
}