@import 'variables';

.charts {
	display: grid;
	grid-gap: 20px;
  padding: 10px;
  padding-top: 15px;
  color: $text-dark;
}
.agent-icon {
  width: 50px;
}
.agent-data {
  display: grid;
  gap: 8px;
  font-size: 1.1em;
  font-weight: 500;
}
.agent-location {
  display: grid;
  gap: 5px;
  grid-template-columns: min-content auto;
  font-size: 0.9em;
}
.agent-card {
  border: 1px solid $border-color;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, border-color 0.3s, box-shadow 0.3s;
  position: relative;

  &:hover {
    transform: scale(1.05);
    border-color: $primary;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}