@import 'variables';

.edit-selector-wrapper {
	display: grid;
	grid-gap: 10px;
}
.agent-stats-wrapper {
  padding: 10px;
  overflow: hidden;
  position: relative;
  background: var(--bg-chart-color);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-gap: 10px;

}
.agent-icon {
  width: 50px;
}
.agent-details {
  display: grid; 
  grid-template-columns: min-content auto;
}
.agent-data {
   padding-left: 10px; 
   display: grid; 
   grid-gap: 5px; 
   align-content: center
}
.agent-location {
  display: grid; 
  grid-gap: 5px; 
  grid-template-columns: min-content auto; 
  font-size: 0.8em
}
