@import 'variables';

.buttons-wrapper {
	display: grid; 
	align-content: start;
	padding-top: 20px;
}

.menu-item {
  padding: 15px;
  margin: 5px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: $text-light;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
}
.menu-item:hover,
.menu-item.active {
  background-color: $primary;
  color: $panel-bg;
}