@import 'variables';

.agent-card {
  border: 1px solid rgba(204, 204, 204, 1);
  border-radius: 8px;
  padding: 15px;  
  background-color: $card-bg;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  display: grid;
  grid-gap: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.agent-card.active {
  border: 1px solid rgba(0, 0, 0, 0.6);
}