@import 'global';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: $text-dark;
  line-height: 1.6;
  overflow: hidden;
}
.main-wrapper {
    display: grid;
    overflow: hidden;
    height: calc(var(--vh, 1vh) * 100);
    max-height: calc(var(--vh, 1vh) * 100);
}