@import 'variables';

.routing-profile {
  display: flex; 
  justify-content: space-around;
}
.routing-image-wrapper {
  border-radius: 5px;
  width: 50px;
  display: grid;
  justify-items: center;
  background-color: $grid-bg;
  border: 1px solid $border-color;
  padding: 5px;
  img {
    height: 20px;    
  }
}
.routing-image-wrapper.active {
  background-color: $primary;
}
.boundary-subtitle {
  padding-left: 10px;
}