@import 'variables';

.map-filters-button {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  padding-left: 2px;
  padding-right: 2px;
  fill: $text-dark;
  stroke: $text-dark;
  user-select: none;
  stroke-width: 1.6
}
.map-filters-button.active {
  background-color: $light-blue;
  fill: rgba(255, 255, 255, 1);
}
.map-filters-button:hover {
  background-color: $light-blue;
  fill: rgba(255, 255, 255, 1);
}