@import 'variables';

 .agent-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 15px;
  justify-items: center;
  text-transform: capitalize;
}
.agent-grid-card {
  background: $grid-bg;
  border: 1px solid rgba(189, 195, 199, 1);
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    max-width: 60px;
    margin-bottom: 10px;
  }

  span {
    font-size: 0.9em;
    font-weight: bold;
    color: rgba(52, 73, 94, 1);
  }

  &:hover {
    background: $light-blue;
    transform: scale(1.05);
  }
}