.agent-header-wrapper {
  display: grid;
  grid-template-columns: min-content min-content auto min-content;
  white-space: nowrap;
  grid-gap: 10px;
  background: rgba(248, 249, 250, 1);
}
.agent-icon {
  width: 40px;
}
.header-buttons {
  display: flex; 
  cursor: pointer;
}
.agent-title {
  font-weight: 600;
}