.sidebar-left {
  display: grid;
  grid-template-rows: min-content auto;
  white-space: nowrap;
  padding: 20px;
  background: linear-gradient(
    to bottom,
    rgba(38, 37, 34, 1),
    rgba(30, 30, 30, 1)
  );
}