@import 'variables';

.boundary-selectors {
  display: flex;
  gap: 5px;
  border-right: 1px solid $border-color;
  padding-right: 10px;
}
.boundary-icon {
  cursor: pointer; 
  border-radius: 3px;
  width: 30px;
  padding: 4px;
}