@import 'variables';

.boundary-selector-wrapper {
  padding-top: 10px;
  display: grid;
  grid-gap: 10px;
}
.boundary-selector {
  border-top: 1px solid #ddd;
  padding: 20px;
}
.boundary-selector h2 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
}
.boundary-options {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.boundary-icon {
  cursor: pointer; 
  border-radius: 3px;
  width: 40px;
  padding: 2px;
}

