/* Color Palette */
:root {
  --primary-color: #4285F4; /* Blue */
  --secondary-color: #EA4335; /* Red */
  --neutral-color: #F1F3F4; /* Light Gray */
  --text-color: rgba(255, 255, 255, 1);
  --bg-color: linear-gradient(180deg, #2c3e50, #34495e);
  --menu-text-color: #ecf0f1;
  --bg-chart-color: #f3f3f3;
}