@import 'variables';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: $text-dark;
  line-height: 1.6;
}
.App {
  height: 100vh;
  overflow: hidden;
  display: grid;
  max-height: calc(var(--vh, 1vh) * 100);
  background-color: $light-bg;
}