.save-pin-wrapper {
	background-color: rgba(203, 255, 41, 1);
	width: 55px;
	height: 55px;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 2px 2px 2px rgba(64, 64, 64, .12);
}
.save-pin-wrapper:hover {
	background-color: rgba(33, 33, 43, 1);
	img {
		filter: brightness(0) invert(1);	
	}
}
.save-pin {
	position: relative;
}
.save-pin-image {
	position: absolute;
	height: 30px;
	left: 15px;
	top: 13px;
}