.edit-selector-wrapper {
	display: grid;
	grid-gap: 20px;
  grid-template-rows: 1fr 1fr 1fr;
}
.edit-selector-item {
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  background-color: rgba(157, 239, 253, 0.6);
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  position: relative;
}
.agent-icon {
  width: 50px;
}