.edit-selector-wrapper {
	display: grid;
	grid-gap: 10px;
  grid-template-rows: 1fr 1fr 1fr;
}
.agent-stats-wrapper {
  padding: 10px;
  overflow: hidden;
  position: relative;
  background-color: rgba(119, 137, 139, 1);
  display: grid;
  grid-gap: 10px;

}
.agent-icon {
  width: 50px;
}